{% extends 'layout.htm' %} 
{% load static %}
{% block content %}
<div class="container" style="min-height: 600px; padding-top:100px">
    <div class="row">
        <div class="col s10 offset-s1">
          {% if extractive %}
            <div class="switch">
              <label>
                <span class="switch-toggle">Summary</span>
                <input type="checkbox" id="switch">
                <span class="lever switch-toggle"></span>
                <span class="switch-toggle">Graph</span>
              </label>
            </div>
            <div id="extractive">
              <h1 class="blue-text text-darken-2">Extractive Summary:</h1>  
              <ol>          
              {% for each_sentence in extractive %}
                  <li>{{ each_sentence }}</li>
              {% endfor %}
              </ol>
            </div>  
            <div id="extractiveGraph">
                <div class="row">
                  <div>
                      <h1 class="blue-text text-darken-2 center-align">Data Visualization:</h1>
                  </div>
                </div>
                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="red-text text-darken-2 center-align">1. Input text wordcloud</h3>
                        <img src="{% static 'img/wordcloud.png' %}" alt="wordcloud" class="responsive-img">
                    </div>
                    <div class="col l6 s12">
                            <h3 class="red-text text-darken-2 center-align">2. Summary wordcloud</h3>
                            <img src="{% static 'img/wordcloud_summary.png' %}" alt="wordcloud_summary" class="responsive-img">
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="red-text text-darken-2 center-align">1. Input text word frequency</h3>
                        <img src="{% static 'img/graph.png' %}" alt="wordcloud" class="responsive-img">
                    </div>
                    <div class="col l6 s12">
                        <h3 class="red-text text-darken-2 center-align">2. Summary word frequency</h3>
                        <img src="{% static 'img/summary_graph.png' %}" alt="wordcloud_summary" class="responsive-img">
                    </div>
                </div>
            </div>
          {% endif %}
          {% if abstractive %}
          <div id="abstractive">
            <h1 class="blue-text text-darken-2">Abstractive Summary:</h1>            
              {{abstractive}}
          </div>
          {% endif %}         
        </div>
    </div>
</div>
{% endblock %}